---
import GiscusComments from "@components/GiscusComments.astro";
import { createSlugV2 } from "@lib/createSlug";
import { type CollectionEntry, getCollection } from "astro:content";
import { type ProjectSchema } from "../../content/config";
import ProjectLayout from "../../layouts/ProjectLayout.astro";

export async function getStaticPaths() {
  const postEntries = await getCollection("project");
  return postEntries.map((entry) => ({
    params: { slug: createSlugV2(entry) },
    props: { entry },
  }));
}

interface Props {
  entry: CollectionEntry<"project">;
}

const { entry } = Astro.props;
const entryData: ProjectSchema = entry.data;
const { Content } = await entry.render();
---

<ProjectLayout
  title={entryData.title}
  desc={entryData.desc}
  img={entryData.img}
  url={entryData.url}
  badge={entryData.badge}
  pubDate={entryData.pubDate}
  updatedDate={entryData.updatedDate}
>
  <Content />
  {
    entryData.url && (
      <div class="mt-6">
        <a href={entryData.url} class="btn btn-gray btn-outline" target="_blank" rel="noopener noreferrer">
          Visit Project
        </a>
      </div>
    )
  }
  <GiscusComments />
</ProjectLayout>
